/* Keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

/* Keep this css code to remove the tap highlight color */
* {
    -webkit-tap-highlight-color: transparent;
}

/* Hide both sliders by default */
.logo-slider-ver-PL,
.logo-slider-ver-EU {
    display: none;
    opacity: 0;
}

/* Show when visible */
.is-visible {
    display: block;
    opacity: 1;
    position: relative;
}

/* Media query for mobile devices */
@media screen and (max-width: 557px) and (min-width: 479px) {
    .text-wrap.is-person-review-role.is-true-classic {
      max-width: 95% !important;
    }
}