/* Keep this css code to improve the font quality */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

/* Keep this css code to remove the tap highlight color */
* {
    -webkit-tap-highlight-color: transparent;
}

/* Hide both sliders by default */
.logo-slider-ver-PL,
.logo-slider-ver-EU {
    display: none;
    opacity: 0;
}

/* Show when visible */
.is-visible {
    display: block;
    opacity: 1;
    position: relative;
}
